@import '@master/normal.css';
@import '@master/keyframes.css';
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{font-family: 'Noto Sans TC', arial,"Microsoft JhengHei","微軟正黑體",sans-serif !important;}
@keyframes oxxo{
  from{
      /* left:0; */
      transform: translateX(-50px);
  }
  to{
      /* left:100px; */
      transform: translateX(50px);
  }
}

.bg_grad{
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,163,196,1) 100%);
}

::selection {
  color: white;
  background: #21494C;
}
.slick-dots{   
  bottom:5%; 
}
.slick-list 
{
    -webkit-transition: height 250ms linear;
}

.slick-dots li button {
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8); */
  text-shadow: 1px 1px 0px black;
    /* border: 1px solid #20494C;
    width: 10px;
    height: 10px;
    border-radius: 50%; */
}

.slick-dots li button:before{
  /* color:black !important; */
  /* margin: -3.1px; */
  /* border:1px #21494C solid !important; */
  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important; */
  /* border-radius: 50%; */
  /* border-radius: 50%;
  border: 1px solid black;
  width: 10px;
  height: 10px;
  padding:5px; */
  
}
.slick-dots li.slick-active button:before {
  color:black !important;
}